# Copyright (c) Saviynt Inc.
# SPDX-License-Identifier: MPL-2.0

openapi: 3.1.0
info:
  description: This API call can be used to upload the file in a specific location
    based on the property `job.ecm.imp.file.path` or  `job.ecm.savfile.path` in `InternalConfig.groovy`.
  title: Saviynt API
  version: 1.0.0
servers:
- url: http://localhost:3000
paths:
  /ECM/api/v5/uploadSchemaFile:
    post:
      operationId: uploadNewFile
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/uploadSchemaFileRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/uploadSchemaFileResponse"
          description: File uploaded successfully
      tags:
      - File Directory
components:
  schemas:
    uploadSchemaFileRequest:
      properties:
        file:
          description: the file to upload
          format: binary
          type: string
        pathLocation:
          description: "Should be set to `Datafiles` to upload to `job.ecm.imp.file.path`\
            \ in `InternalConfig.groovy`, or `SAV` to upload to `job.ecm.savfile.path`\
            \ in `InternalConfig.groovy`. "
          example: Datafiles
          type: string
      required:
      - file
      - pathLocation
    uploadSchemaFileResponse:
      example:
        msg: file Save Successfully
        errorCode: "0"
      properties:
        msg:
          example: file Save Successfully
          type: string
        errorCode:
          example: "0"
          type: string
